.start {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.started {
  background-image: url('/public/images/twodots.gif');
  /* background-repeat: no-repeat;
  background-size: 100%; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.sapace {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.realspace {
  /* background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  border-radius: 10px;
  height: 470px;
  width: 360px;
}
.logo {
  margin: 5px auto 0 auto;
  font-family: 'Bangers';
  font-size: 60px;
  color: white;
}
.logoimg {
  width: 200px;
}
.imglogo {
  margin: 20px auto 8px auto;
}
.btns {
  margin: 20px auto 0 auto;
}
